{% extends 'base.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1>I'm a Developer</h1>
                <h1>Tomas Ferreyra</h1>
                <p>I build dynamic applications in python and javascript using relational databases</p>
                <a href="#contacto" class="btn">Contact me</a>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='big-data.png') }}" width="600px">
            </div>
        </div>
    </div>
    
    {% include 'portfolio/section-first.html' %}

    {% include 'portfolio/section-second.html' %}

    {% include 'portfolio/section-third.html' %}

{% endblock %}

