<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h3>Look what i built</h3>
        </div>
        <div class="row">
            <div class="card third">
                <h4>Mailer app</h4>
                <p>An application that sends emails using the Sendgrid API</p>
                <a target="_blank" href="#" class="orange">Link here</a>
            </div>
            <div class="card third">
                <h4>To-Do-List</h4>
                <p>An application that works like a to do list app</p>
                <a target="_blank" href="{{ url_for('static', filename='db.exe') }}" class="orange">Link here</a>
            </div>
            <div class="card third">
                <h4>Client manager</h4>
                <p>An application that helps to manage your cients</p>
                <a target="_blank" href="{{ url_for('static', filename='gestor_de_clientes.exe') }}" class="orange">Link here</a>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h4>React eccomerce</h4>
                <p>An eccomerce built with react js</p>
                <a target="_blank" href="https://github.com/tomasferreyra1/Proyecto-React" class="orange">Link here</a>
            </div>
            <div class="card third">
                <h4>Eccomerce</h4>
                <p>A dinamic eccomerce web</p>
                <a target="_blank" href="https://github.com/tomasferreyra1/Proyecto-Js" class="orange">Link here</a>
            </div>
            <div class="card third">
                <h4>Eccomerce</h4>
                <p>A dinamic eccomerce web</p>
                <a target="_blank" href="https://github.com/tomasferreyra1/Gestor-de-clientes" class="orange">Link here</a>
            </div>
        </div>
    </div>
</div>