<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h2>I develop with passion applications and websites for people</h2>
                <p>I constantly find myself learning new technologies and developing applications for pleasure</p>
            </div>
            <div class="right padded">
                <h2>We can talk whatever you want</h2>
                <p>Just send me a mail <a class="orange" href="#contacto">clicking here</a></p>
            </div>
        </div>
    </div>
</div>